@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');



:root {
--color-1:#FCF8F8;
--color-2:#FBEFEF;
--color-3:#F9DFDF;
--color-4:#F5AFAF;
}




body {
  background-color: var(--color-3);
  color: #FF69B4;
  font-family:"Ribeye"
}
hr{
    border-width: 2.5px;
    border-color: #fff;
}
#center {
    text-align: center;
}

.About{
  background-color:#FAF8F8;
  border: 2px solid;
  border-radius:8px;
  
}
.index{
  background-color: #FFF;
  text-align: center;
  border: 2px solid;
  border-radius:8px;
 
  
}

nav {
  background-color: #fff6
}

nav a {
  color:#FF69B4 ;
  text-decoration: none;
  padding: 16px;
  display: inline-block;
}

nav a:hover {
  background-color: #FF69B4;
  color: #FFF
  /* border-bottom: 2px solid blue; */
}
.pixels{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #FF69B4;
 padding-top:16px ;
}