@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');



:root {
--color-1:#FCF8F8;
--color-2:#FBEFEF;
--color-3:#F9DFDF;
--color-4:#F5AFAF;
}




body {
  background-color: var(--color-3);
  color: #FF69B4;
  font-family:"Ribeye"
}
hr{
    border-width: 2.5px;
    border-color: #fff;
}
#center {
    text-align: center;
}
